.scanIllustration {
    color: black;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
}

.DetailBackButton {
    text-decoration: none;
    color: black;
}

.ProfilesList li {
    display: flex;
    padding:0;
    border:none;
    margin: 0;
}

.ProfilesList li:before {
    content: none;
}

.ProfilesList li a {
    text-decoration: none;
    display:flex;
    flex:1;
    padding: 20px;
    align-items: center;
    border-bottom:1px solid #ccc;
}
